body {
    background: linear-gradient(to right, #FF512F, #F09819);
}

#taskTable {
    border-spacing: 10px;
    border-collapse: separate;
    background-color: white;
    border-radius: 10px;
}

#hourIn {
    margin-left: 15px;
}
